body{
    background: #f4f4f4;
}
header{
    width: 100%;
    height: 80px;
    position: relative;
}
.lie{
    width: 100%;
    height: 300px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    box-sizing: border-box;
    padding-top: 80px;
    display: none;
}
.lie ul{
    display: block;
    width: 1200px;
    height: 200px;
    /* background: yellow; */
    margin: auto;
    
}
.lie ul li{
    float: left;
    width: 120px;
    margin: 0 1%;
}
.lie ul li img{
    width: 120px;
    height: 120px;
}
.lie ul li:nth-child(9){
    width: 600px;
    height: 300px;
}
.lie ul li:nth-child(9) img{
    width: 100%;
    height: 100%;
}
.lie ul li p{
   font-size: 12px;
   color: #999;
   text-align: center;
}.lie ul li span{
    display: block;
    font-size: 12px;
    color: #999;
    text-align: center;
}
nav{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 999;
    background: white;
}
nav .nav_top{
    width: 81.6%;
    height: 100%;
    margin: auto;
}
nav .nav_top h1{
    width:125px ;
    height:24px ;
    float: left;
    margin-top: 26px;
    background-image: url(../images/base.png);

}
nav .nav_top ul{
    height: 100%;
    float: right;
}
nav .nav_top ul li{
    height: 100%;
    margin: 15px;
    float: left;
    font-size: 14px;
    line-height: 55px;
}
nav .nav_top ul li:hover{
    color: #00b9f2;
}
.nav_right{
    float: right;
    width: 25.3%;
    height: 80px;
    padding-top: 28px;
}
.nav_right .right_inp{
    width: 60%;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background: white;
    font-size: 12px;
    margin-left: 5%;
    float: left;
    border: 1px solid #333333;
}
input{
    margin-left: 5%;
    outline: none;
    margin-top: 6px;
}
.glyphicon{
    font-size: 15px;
    margin-top: 6px;
} 
.xiang{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 5%;
    position: relative;
}
.shu{
    position: absolute;
    top: -2px;
    right: -3px;
    height: 15px;
    border-radius: 50%;
    background: #c00;
    color: #fff;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
    text-indent: 0;
}
#du{
    color: #00b9f2;
    font-weight: bold;
    font-size: 14px;
}
#du:hover .dl{
    display: block;
}
.xiang .dl{
    position: absolute;
    bottom: -50px;
    left: -30px;
    width: 94px;
    height: 50px;
    background: white;
    border-radius: 5px;
    display: none;
}
.xiang .dl li{
    width:100% ;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 7px;
}
.xiang .dl li:hover a{
  color: #00b9f2;
}
.title{
    width: 100%;
    height: 70px;
    background: #f6f8fb;
    border-top: 1px solid #efefef;
}
.title .title_z{
    width: 81.6%;
    height: 100%;
    margin: auto;
}
.title .title_z span{
    float: left;
    top: 15px;
    font-size: 26px;
    height: 100%;
    line-height: 70px;
}
.title .title_z ul{
    float: right;
    height: 100%;
    box-sizing: border-box;
    padding-top: 28px;
}
.title .title_z ul li{
    float: left;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    border-right: 1px solid #dedede;
}
.title .title_z ul li:last-child{
    border-right:0;
}
.title .title_z ul li a{
    font-size: 14px;
}
main{
    width: 81.6%;
    margin: auto;
    background: white;
}
main .main_l{
    width: 45%;
    height: 732px;
    float: left;
    background: white;
}
main .main_l .zhan{
    width: 100%;
    height: 560px;
}
main .main_l .zhan img{
    width: 100%;
    height: 100%;
}
main .main_r{
    width: 55%;
    height: 900px;
    float: right;
    background: white;
}
main .main_r .r_top{
    width: 100%;
    padding-top: 30px;
    margin-bottom: 12px;
}
main .main_r .r_top h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #262626;
}
main .main_r .r_top p{
    color: #e22841;
    font-size: 14px;
}
main .main_r .r_sec{
    position: relative;
    background: #f4f6fa;
    padding: 16px 0 12px;
}
main .main_r .r_sec p{
    line-height: 36px;
    color: #e02b41;
    font-size: 36px;
    font-weight: 500;
}
main .main_r .r_sec p i{
    color: #e02b41;
    font-size: 24px;
}
main .main_r .r_sec .zhu{
    margin-left: 10px;
    margin-top: 12px;
    line-height: 22px;
    font-size: 14px;
}
main .main_r .r_sec .zhu span{
    border-radius: 2px;
    color: #e02b41;
    display: inline-block;
    width: 72px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    padding: 4px 0;
    background: #F2EAEF;
}
main .main_r .r_sec .zhu em{
    line-height: 16px;
    padding-top: 3px;
    color: #595959;
}
main .main_r .r_sec .zhu em i{
    display: inline-block;
    margin-right: 10px;
    color: #e02b41;
    margin-right: 5px;
}
main .main_r .r_sec .zhu em a{
    color: #27b3ff;
    margin-left: 10px;
}
main .main_r .r_zui{
    border-bottom: 1px dashed #dedede;
    padding: 18px 0;
}
main .main_r .r_zui p i{
    float: left;
    padding-left: 10px;
    width: 75px;
    font-size: 12px;
    color: #8c8c8c;
}
main .main_r .r_zui p span{
    font-size: 12px;
    color: #8c8c8c;
}
main .main_r .r_zui p span em{
    margin-right: 8px;
    line-height: 18px;
    color: #595959;
}
main .main_r .r_zui p span em:before{
    content: "\E631";
}
main .main_r .r_zui p s{
    padding-right: 10px;
    height: 18px;
    min-width: 96px;
    line-height: 18px;
    font-size: 14px;
    color: #262626;
    text-decoration: none;
}
main .main_r .r_zui p:last-child{
    display: block;
    margin-top: 5px;
    margin-left: 74px;
    color: #8c8c8c;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
}
main .main_r .r_zui p:last-child span{
    color: #27b3ff;
    font-size: 12px;
}
main .main_r .xuan{
    margin-top: 20px;
    margin-bottom: -10px;
}
main .main_r .xuan span{
    float: left;
    padding-left: 10px;
    width: 15%;
    font-size: 12px;
    line-height: 42px;
    color: #8c8c8c;
}
main .main_r .xuan .lei{
   width: 85%;
   float: left;
}
main .main_r .xuan .lei i{
    position: relative;
    float: left;
    width: 176px;
    margin: 0 10px 10px 0;
    background-color: #fff;
    white-space: nowrap;
    line-height: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    color: #595959;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
main .main_r .ji{
    margin-top: 30px;
    width: 100%;
}
main .main_r .ji span{
    float: left;
    padding-left: 10px;
    width: 15%;
    font-size: 12px;
    line-height: 42px;
    color: #8c8c8c;
}
main .main_r .ji .suan{
    position: relative;
    z-index: 1;
    height: 40px;
    width: 122px;
    overflow: hidden;
}
main .main_r .ji .suan a{
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e7e7e7;
    color: #000;
    background: #f7f7f7;
    float: left;
}

main .main_r .ji .suan input{
    width: 60px;
    height: 38px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #595959;
    border: 1px solid #dedede;
    float: left;
}
main .main_r .last{
    margin-top: 17px;
    margin-left: 10px;
}
main .main_r .last .mai{
    display: inline-block;
    padding: 15px 0;
    width:208px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #27b3ff;
    text-align: center;
}
main .main_r .last .jia{
    display: inline-block;
    padding: 15px 0;
    width: 208px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #27B3FF;
    color: #27b3ff;
    text-align: center;
}